<ng-form name="$ctrl.currencyInputForm">
  <div class="form-group"
    ng-class="{ 'has-error' : $ctrl.currencyInputForm.$submitted && $ctrl.currencyInputForm.currencyInputValue.$invalid }"
    data-bh-currency-input>

    <label class="control-label" for="{{ ::$ctrl.inputId }}"
      ng-class="{'col-md-3' : $ctrl.horizontal}" translate>{{ ::$ctrl.label }}</label>

    <div ng-class="{'col-md-9' : $ctrl.horizontal}">
      <div class="input-group">
        <span class="input-group-addon text-uppercase">{{ $ctrl.currency.symbol || '...' }}</span>
        <input
          id="{{ ::$ctrl.inputId }}"
          class="form-control"
          type="number"
          name="currencyInputValue"
          ng-model="$ctrl.inputValue"
          ng-change="$ctrl.handleChange()"
          ng-disabled="$ctrl.disabled"
          ng-min="$ctrl.minimumValue"
          ng-required="$ctrl.required">
      </div>

      <!-- validation messages -->
      <p class="help-block" ng-messages="$ctrl.currencyInputForm.currencyInputValue.$error"
        ng-show="$ctrl.currencyInputForm.$submitted">

        <span ng-message="required">
          <i class="fa fa-exclamation-circle"></i> <span translate>FORM.ERRORS.REQUIRED</span>
        </span>

        <span ng-message="min">
          <i class="fa fa-exclamation-circle"></i> <span translate>FORM.ERRORS.MIN_CURRENCY_UNIT</span>
        </span>

        <span ng-message="number">
          <i class="fa fa-exclamation-circle"></i> <span translate>FORM.VALIDATION.NUMBER</span>
        </span>
      </p>
    </div>
  </div>
</ng-form>
