<form
  name="ProjectForm"
  bh-submit="$ctrl.submit(ProjectForm)"
  novalidate>

  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static" translate>TREE.ENTERPRISE</li>
      <li class="title">
        <span translate>TREE.PROJECT</span>
        <span ng-show="$ctrl.isEditState" class="badge badge-primary text-uppercase" translate>
          FORM.LABELS.EDIT
        </span>
        <span ng-show="$ctrl.isCreateState" class="badge badge-success text-uppercase" translate>
          FORM.LABELS.CREATE
        </span>
      </li>
    </ol>
  </div>

  <div class="modal-body">
    <div class="form-group" ng-class="{ 'has-error' : ProjectForm.$submitted && ProjectForm.name.$invalid }">
      <label class="control-label">
        <span translate>FORM.LABELS.NAME</span>
        (<i translate>FORM.LABELS.PROJECT</i>)
      </label>
      <input type="text" class="form-control" name="name" ng-maxlength="$ctrl.maxLength" ng-model="$ctrl.project.name" required>

      <div class="help-block" ng-messages="ProjectForm.name.$error" ng-show="ProjectForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : ProjectForm.$submitted && ProjectForm.abbr.$invalid }">
      <label class="control-label">
        <span translate>FORM.LABELS.ABBREVIATION</span>
        (<i translate>FORM.LABELS.PROJECT</i>)
      </label>
      <input type="text" class="form-control" name="abbr"ng-maxlength="$ctrl.length3" ng-model="$ctrl.project.abbr" required >
      <div class="help-block" ng-messages="ProjectForm.abbr.$error" ng-show="ProjectForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <!-- project logo -->
    <div class="form-group">
      <div class="text-center">
        <div class="logo" ng-if="!$ctrl.project.logo">
          <span ng-if="!$ctrl.hasThumbnail">
            <i class="fa fa-3x fa-file-image-o"></i>
          </span>
          <span ng-if="$ctrl.hasThumbnail">
            <img ngf-thumbnail="{{ '$ctrl.thumbnail' }}" style="width: 100px !important; height: 100px !important;">
          </span>
        </div>
        <div class="logo" ng-if="$ctrl.project.logo">
          <span ng-if="!$ctrl.hasThumbnail">
            <img ng-src="{{ $ctrl.project.logo }}" style="width: 100px !important; height: 100px !important;" onError="this.src='assets/empty.png';" >
          </span>
          <span ng-if="$ctrl.hasThumbnail">
            <img ngf-thumbnail="{{ '$ctrl.thumbnail' }}" style="width: 100px !important; height: 100px !important;">
          </span>
        </div>
      </div>

      <div class="text-center">
        <label data-method="upload-logo" class="btn btn-default">
          <i class="fa fa-edit"></i> <span translate>PROJECT.UPDATE_LOGO</span>
          <input
            type="file"
            name="logo"
            accept="image/*"
            ng-model="$ctrl.file"
            ngf-max-size="{{ $ctrl.maxLogoFileSize }}"
            ngf-select="$ctrl.setThumbnail($file)"
            style="display: none;">
        </label>
      </div>
      <div class="help-block text-center form-warning"
        ng-messages="ProjectForm.logo.$error"
        ng-show="ProjectForm.logo.$error.maxSize">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
        <span translate translate-values="{ limit : '{{ProjectCtrl.maxLogoFileSize}}' }">FORM.VALIDATION.FILE_SIZE_LIMIT</span>
      </div>
    </div>

    <div ng-if="$ctrl.isEditState" class="checkbox">
      <label>
        <input
          type="checkbox"
          name="locked"
          ng-true-value="1"
          ng-false-value="0"
          ng-model="$ctrl.project.locked">
          <span translate>FORM.LABELS.LOCKED</span>
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.close()" translate>
      FORM.BUTTONS.CLOSE
    </button>

    <bh-loading-button loading-indicator="ProjectForm.$loading">
      <span translate>FORM.BUTTONS.SUBMIT</span>
    </button>
  </div>
</form>
