# This file is a sample configuration for the application.
# Copy it into .env and customize it to meet your specific needs.

# define the port on which the HTTP server will listen.
# EX: 8080
PORT=8080

# DB_HOST is the MySQL server Host
DB_HOST=localhost
# DB_NAME is the database name to connect to.
DB_NAME=bhima_test
# DB_PASS is the password for the MySQL user
DB_PASS=password
# MySQL Database Configuration
# The following variables should be pretty straightforward.
# DB_PORT is the MySQL server port
DB_PORT=3306
# DB_USER is the MYSQL client user to connect to the server with
DB_USER=bhima

# Secret Session Variables
# Used by express-session middleware for encryption.
# In production, use a secure generator for this:
# EX: openssl rand -hex 25
SESS_SECRET='XopEn BlowFISH'

# define logging level for the npm debug module.
DEBUG=app,http,errors

# define the directory where reports, files, and images will be uploaded.
# Upload directory requirements:
#   - be read/writable by the application user.
# Leave blank to use the platform-specific application data directory.
BHIMA_DATA_DIR=

# redis host
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

SMTP_HOST=some.host.com
SMTP_PASSWORD=SomePassword
# SMTP Credentials
SMTP_USERNAME=user@smtp.server

# silence the .env startup messages
DOTENV_CONFIG_QUIET=true
