<form name="ConfigPaymentForm" bh-submit="ConfigPaymentModalCtrl.submit(ConfigPaymentForm)" novalidate>
  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static" translate>TREE.HUMANS_RESSOURCES</li>
      <li class="static" translate>TREE.MULTI_PAYROLL</li>
      <li class="title" translate>{{::ConfigPaymentModalCtrl.period.label}}</li>
    </ol>
  </div>

  <div class="modal-body container-fluid" style="max-height: 75vh; overflow:auto;">
    <fieldset ng-disabled="ConfigPaymentModalCtrl.loading">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label"  style="margin-bottom: 0;" translate>FORM.LABELS.EMPLOYEE_NAME</label>
            <p class="form-control-static" style="padding-top: 0;">{{ ::ConfigPaymentModalCtrl.employee.display_name}}</p>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label"  style="margin-bottom: 0;" translate>FORM.LABELS.DATE_EMBAUCHE</label>
            <p class="form-control-static" style="padding-top: 0;">{{ ::ConfigPaymentModalCtrl.employee.hiring_date | date}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label" style="margin-bottom: 0;" translate>FORM.LABELS.FUNCTION</label>
            <p class="form-control-static" style="padding-top: 0;">{{ ::ConfigPaymentModalCtrl.employee.fonction_txt}}</p>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label" style="margin-bottom: 0;" translate>FORM.LABELS.GRADE</label>
            <p class="form-control-static" style="padding-top: 0;">{{ ::ConfigPaymentModalCtrl.employee.code_grade }}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label" style="margin-bottom: 0;" translate>FORM.LABELS.NB_SPOUSE</label>
            <p class="form-control-static" style="padding-top: 0;">{{ ::ConfigPaymentModalCtrl.employee.nb_spouse}} <span translate>FORM.LABELS.PERSONS</span></p>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label" style="margin-bottom: 0;" translate>FORM.LABELS.NB_CHILD</label>
            <p class="form-control-static" style="padding-top: 0;">{{ ::ConfigPaymentModalCtrl.employee.nb_enfant }} <span translate>FORM.LABELS.PERSONS</span></p>
          </div>
        </div>
      </div>

      <!-- period days row -->
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label text-capitalize" style="margin-bottom: 0;" translate>FORM.LABELS.OFF_DAYS</label>
            <p class="form-control-static" style="padding-top: 0;">{{ ConfigPaymentModalCtrl.payroll.off_days }} <span translate>FORM.LABELS.DAYS</span></p>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label" style="margin-bottom: 0;" translate>FORM.LABELS.HOLIDAYS</label>
            <p class="form-control-static" style="padding-top: 0;">{{ ConfigPaymentModalCtrl.payroll.nb_holidays }} <span translate>FORM.LABELS.DAYS</span></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group" ng-class="{ 'has-error' : ConfigPaymentForm.$submitted && ConfigPaymentForm.working_day.$invalid }">
            <label class="control-label" translate>FORM.LABELS.DAYS_WORK</label>
            <input 
              class="form-control"
              type="number"
              name="working_day"
              ng-max="ConfigPaymentModalCtrl.maxWorkingDays"
              ng-model="ConfigPaymentModalCtrl.payroll.working_day"
              autocomplete="off"
              required>
            <div class="help-block" ng-messages="ConfigPaymentForm.working_day.$error" ng-show="ConfigPaymentForm.$submitted">
              <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <bh-currency-input
            data-payment-currency-input
            label="FORM.LABELS.BASIC_SALARY"
            currency-id="ConfigPaymentModalCtrl.enterprise.currency_id"
            model="ConfigPaymentModalCtrl.employee.basic_salary"
            disabled="true"
            min=0>
          </bh-currency-input>
        </div>
      </div>

      <hr style="margin-top:0;margin-right:0;"/>

      <!-- TODO(@jniles): should this be sorted in any particular order? -->
      <div ng-repeat="rubConfigured in ConfigPaymentModalCtrl.rubConfigured" class="row">
        <bh-currency-input
          data-payment-currency-input
          label="{{::rubConfigured.label}}"
          id="{{::rubConfigured.abbr}}"
          currency-id="ConfigPaymentModalCtrl.enterprise.currency_id"
          model="ConfigPaymentModalCtrl.payroll.value[rubConfigured.abbr]"
          min="0">
        </bh-currency-input>
      </div>
    </fieldset>
  </div>

  <div class="modal-footer">
    <button data-method="cancel" type="button" class="btn btn-default" ui-sref="multiple_payroll">
      <span translate>FORM.BUTTONS.CANCEL</span>
    </button>

    <bh-loading-button loading-state="ConfigPaymentForm.$loading">
      <span translate>FORM.BUTTONS.SUBMIT</span>
    </bh-loading-button>
  </div>
</form>
