<form name="RubricForm" bh-submit="RubricConfigModalCtrl.submit(RubricForm)" novalidate>
  <div class="modal-header">
    <ol class="headercrumb">
      <li class="static" translate>TREE.HUMANS_RESSOURCES</li>
      <li class="title">
        <span translate>PAYROLL_RUBRIC.CONFIGURATION</span>
        <label class="badge badge-success">{{ RubricConfigModalCtrl.config.label }}</label>
      </li>
    </ol>
  </div>

  <div class="modal-body" style="max-height: 70vh; overflow:auto;">
    <div class="form-group" ng-class="{ 'has-error' : RubricForm.$submitted && RubricForm.label.$invalid }">
      <label class="control-label" translate>FORM.LABELS.DESIGNATION</label>
      <input name="label" ng-model="RubricConfigModalCtrl.config.label" autocomplete="off" class="form-control" required>
      <div class="help-block" ng-messages="RubricForm.label.$error" ng-show="RubricForm.$submitted">
        <div ng-messages-include="modules/templates/messages.tmpl.html"></div>
      </div>
    </div>

    <hr>

    <ul ng-if="!RubricConfigModalCtrl.loading" class="list-unstyled">
      <li ng-if="!RubricConfigModalCtrl.rubrics.length">
        <span translate>TABLE.COLUMNS.EMPTY</span>
      </li>

      <li ng-if="RubricConfigModalCtrl.rubrics.length">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="all" ng-model="RubricConfigModalCtrl.all" ng-change="RubricConfigModalCtrl.toggleAllRubrics(RubricConfigModalCtrl.all)">
            <strong translate>PAYROLL_RUBRIC.ALL_PAYROLL_RUBRICS</strong>
          </label>
        </div>
      </li>

      <li ng-if="RubricConfigModalCtrl.socialCares.length">
        <div class="checkbox">
          <label style="padding-left: calc(1 * 2em)">
            <input type="checkbox" ng-model="RubricConfigModalCtrl.headSocial" id="social" ng-change="RubricConfigModalCtrl.toggleSocialCares(RubricConfigModalCtrl.socialCheck)">
            <span translate>FORM.LABELS.SOCIAL_CARE </span>
          </label>
        </div>
      </li>

      <li ng-repeat="rubric in RubricConfigModalCtrl.socialCares">
        <div class="checkbox">
          <label style="padding-left: calc(2 * 2em)">
            <input type="checkbox" ng-model="rubric.checked">
            <span>{{::rubric.label }}</span>
          </label>
        </div>
      </li>

      <li ng-if="RubricConfigModalCtrl.membershipFee.length">
        <div class="checkbox">
          <label style="padding-left: calc(1 * 2em)">
            <input type="checkbox" ng-model="RubricConfigModalCtrl.headMembershipFee" ng-change="RubricConfigModalCtrl.toggleMembershipFee(RubricConfigModalCtrl.membershipFeeCheck)">
            <span translate>FORM.LABELS.MEMBERSHIP_FEE </span>
          </label>
        </div>
      </li>

      <li ng-repeat="rubric in RubricConfigModalCtrl.membershipFee">
        <div class="checkbox">
          <label style="padding-left: calc(2 * 2em)">
            <input type="checkbox" ng-model="rubric.checked">
            <span>{{ rubric.label }}</span>
          </label>
        </div>
      </li>

      <li ng-if="RubricConfigModalCtrl.taxes.length">
        <div class="checkbox">
          <label style="padding-left: calc(1 * 2em)">
            <input type="checkbox" ng-model="RubricConfigModalCtrl.headTax" id="tax" ng-change="RubricConfigModalCtrl.toggleTaxes(RubricConfigModalCtrl.taxCheck)">
            <span translate>FORM.LABELS.TAXES </span>
          </label>
        </div>
      </li>

      <li ng-repeat="rubric in RubricConfigModalCtrl.taxes">
        <div class="checkbox">
          <label style="padding-left: calc(2 * 2em)">
            <input type="checkbox" ng-model="rubric.checked">
            <span>{{ rubric.label }}</span>
          </label>
        </div>
      </li>

      <li ng-if="RubricConfigModalCtrl.others.length">
        <div class="checkbox">
          <label style="padding-left: calc(1 * 2em)">
            <input type="checkbox" ng-model="RubricConfigModalCtrl.indexCheck"
              ng-change="RubricConfigModalCtrl.toggleIndexes(RubricConfigModalCtrl.indexCheck)">
            <span translate>PAYROLL_RUBRIC.INDEXES</span>
          </label>
        </div>
      </li>

      <li ng-repeat="rubric in RubricConfigModalCtrl.indexes">
        <div class="checkbox">
          <label style="padding-left: calc(2 * 2em)">
            <input type="checkbox" ng-model="rubric.checked">
            <span>{{ rubric.label }}</span>
          </label>
        </div>
      </li>

      <li ng-if="RubricConfigModalCtrl.others.length">
        <div class="checkbox">
          <label style="padding-left: calc(1 * 2em)">
            <input type="checkbox" ng-model="RubricConfigModalCtrl.headOther" ng-change="RubricConfigModalCtrl.toggleOthers(RubricConfigModalCtrl.otherCheck)">
            <span translate>FORM.LABELS.OTHERS</span>
          </label>
        </div>
      </li>

      <li ng-repeat="unit in RubricConfigModalCtrl.others">
        <div class="checkbox">
          <label style="padding-left: calc(2 * 2em)">
            <input type="checkbox" ng-model="unit.checked">
            {{ ::unit.label }}
          </label>
        </div>
      </li>
    </ul>

    <div ng-if="RubricConfigModalCtrl.loading">
      <span>
        <span class="fa fa-circle-o-notch fa-spin"></span>
        <span translate>FORM.INFO.LOADING</span>
      </span>
    </div>
  </div>

  <div class="modal-footer">
    <button data-method="cancel" type="button" class="btn btn-default" ng-click="RubricConfigModalCtrl.closeModal()">
      <span translate>FORM.BUTTONS.CANCEL</span>
    </button>

    <bh-loading-button loading-state="RubricForm.$loading">
      <span translate>FORM.BUTTONS.SUBMIT</span>
    </bh-loading-button>
  </div>
</form>
