<div class="modal-header">
  <ol class="headercrumb">
    <li class="title">
      <i class="fa fa-warning text-danger"></i> <span translate>EXCHANGE.WARNING</span>
    </li>
  </ol>
</div>

<div class="modal-body">
  <div class="alert alert-danger text-danger">
    <p translate>EXCHANGE.FIX_MISSING_RATES_FIRST</p>
    <p translate>EXCHANGE.ADD_MISSING_RATES_FOR</p>

    <ul>
      <li ng-repeat="cur in ModalCtrl.missing">{{::cur.name}} ({{::cur.symbol}})</li>
    </ul>

    <br />

    <a href ui-sref="exchange" translate>EXCHANGE.CLICK_HERE_TO_FIX_RATES</a>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="ModalCtrl.cancel()" data-method="cancel" translate>
    FORM.BUTTONS.CANCEL
  </button>
</div>
